<h2>アカウント編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
    <div class="form-title">新しい名前または現在の名前<span class="required_content"></span></div>
      <%= f.text_field :username, placeholder: "名前入力(16文字以内)",required: true, maxlength:"16" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, placeholder: "@example.com", autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <a><%= f.label :新しいパスワード %>(※パスワードの変更をしない場合は入力不要)</a><br />
    <%= f.password_field :password, placeholder: "6文字以上", autocomplete: "new-password" %>

  </div>

  <div class="field">
    <%= f.label :パスワード確認 %><br />
    <%= f.password_field :password_confirmation, placeholder: "6文字以上", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :現在のパスワード %><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
<% end %>
<br>

<%= link_to "戻る", mypage_path(current_user) %>

<h3>アカウント削除</h3>

<a>アカウントを削除する場合は <%= button_to "こちら", registration_path(resource_name), data: { confirm: "アカウントは元に戻せません。削除しますか?" }, method: :delete %></a>


