<h1 class="content-title">新規登録</h1>
<div class="input-wrapper">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.label :名前 %><br />
      <%= f.text_field :username, placeholder: "名前入力", class:"input-field" %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"input-field" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class:"input-field" %>
    </div>

    <div class="field">
      <%= f.label :パスワード再入力 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再入力", class:"input-field" %>
    </div>

    <div class="actions">
      <%= f.submit "登録", class:"submit-btn" %>
    </div>
  <% end %>
  <p class="back-link"><%= link_to "戻る", root_path, class:"back-btn" %></p>
</div>
