<div class="top-container d-flex align-items-center justify-content-center bg-success">
  <h2 class="content-title text-white font-weight-bolder">新規登録</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="d-flex justify-content-center">
    <%= f.text_field :username, placeholder: "名前入力", required: true, class:"input-area-field" %>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", required: true, class:"input-area-field" %>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(8文字以上)", required: true, class:"input-area-field" %>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード再入力", required: true, class:"input-area-field" %>
  </div>

  <div class="create-btn d-flex justify-content-center">
    <%= f.submit "登録", class:"submit-btn" %>
    <div class="cancel-btn">
      <%= link_to "キャンセル", root_path, class:"page-post text-white btn btn-danger" %>
    </div>
  </div>
<% end %>

