<div class="container">
  <div class="row top-container d-flex align-items-center justify-content-center bg-success">
    <h2 class="title text-white bg-info">おうち時間〜spendtime〜</h2>
  </div>
  <div class="message-title d-flex align-items-center justify-content-center"> 
    <h3 class="title-text font-weight-bolder text-success">おうち時間〜spendtime〜とは<h3>
  </div>
  <div class="message-text font-weight-bolder title-explanation d-flex align-items-start justify-content-center"> 
    自宅での遊びや趣味を共有するコミュニティサイトです。<br>
    自宅での過ごし方をみんなで共有し楽しい時間を増やしましょう。
  </div>
  <div class="acount-wrapper">
    <div class="menu-wrapper d-flex align-items-center justify-content-center">
      <h4 class="menu-select text-success" style="height:60px;">〜〜ご利用の方はこちら〜〜</h4>
    </div>
    <div class="row bg-success menu-select-btn d-flex align-items-center justify-content-center">
      <% if user_signed_in? %>
      <%# ログイン済みの表示 %>
        <%= link_to "投稿一覧ページ", posts_path, type:"button", class:"select-btn btn btn-info col-sm" %><br>
        <%= link_to "新規投稿", new_post_path, type:"button", class:"select-btn btn btn-info col-sm" %>
      <% else %>
        <%# 非ログイン時の表示 %>
        <%= link_to "ログイン", new_user_session_path, type:"button", class:"select-btn btn btn-info col-sm-4" %><br>
        <%= link_to "新規登録", new_user_registration_path, type:"button", class:"select-btn btn btn-info col-sm-4" %><br>
        <%= link_to "ゲストログイン", users_guest_sign_in_path,method: :post, type:"button", class:"guest-btn select-btn btn btn-info col-sm-4" %>
      <% end %>
    </div>
  </div>
  <div class="infomation-container d-flex align-items-start justify-content-center">
    <h4 class="infomation-title">お知らせ</h4>
  </div>
  <div class="infomation-text">・今後のお知らせはここに記載します。</div>
</div>