<body>
  <header>
  <!-- layouts/_header.html.erbファイルに記入 -->
  </header>
  <div class="all-warapper">
    <div class="top-title">
      <h1 class="title-text">おうち時間〜spendtime〜</h1>
    </div>
    <div class="message-wrapper"> 
      <a class="message-title">おうち時間〜spendtime〜とは</a>
      <p>自宅での遊びや趣味を共有するコミュニティサイトです。
      <br>自宅での過ごし方をみんなで共有し楽しい時間を増やしましょう。</p><br>
      <div class="menu-select">
        <a class="menu-select-title">〜〜ご利用の方はこちら〜〜</a>
        <div class="btn-wrapper">
          <% if user_signed_in? %>
            <%# ログイン済みの表示 %>
            <a class="link-btn">
              <%= link_to "投稿一覧ページ", posts_path, class:"list" %>
              <%= link_to "新規投稿", new_post_path, class:"post" %>
            </a>
          <% else %>
            <%# 非ログイン時の表示 %>
            <a class="link-btn">
              <%= link_to "ログイン", new_user_session_path, class:"login" %>
              <%= link_to "新規登録", new_user_registration_path, class:"signup" %><br>
              <br><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class:"guest" %>
            </a>
          <% end %>
        </div>
      </div>
      <div class="infomation-container">
        <h3>お知らせ</h3>
      </div>
    </div>
    <p class="infomation-text">・今後のお知らせはここに記載します。</p>
  </div>
  <footer>
    <!-- layouts/_footer.html.erbファイルに記入 -->
  </footer>
</body>