<div class="top-container d-flex align-items-center justify-content-center bg-success">
  <h2 class="content-title text-white font-weight-bolder">ログイン</h2>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="d-flex justify-content-center">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class:"input-area-field" %>
  </div>

  <div class="d-flex justify-content-center">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class:"input-area-field" %>
  </div>

  <div class="remember-check">
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end %>
  </div>

  <div class="create-btn d-flex justify-content-center">
    <%= f.submit "ログイン", class:"submit-btn" %>
    <div class="cancel-btn">
      <%= link_to "戻る", root_path,class:"page-post text-white btn btn-danger" %>
    </div>
  </div>
<% end %>
