<!-- 投稿内容 -->
<div class="top-container d-flex align-items-center justify-content-center bg-success">
  <h2 class="content-title text-white font-weight-bolder">〜投稿詳細〜</h2>
</div>
<div class="post-content bg-light">
  <p><%= @post.user.username %> <%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
  <p class="font-weight-bolder"><%= @post.title %></p>
  <p><%= simple_format(h @post.content) %></p>
  <p id="post-<%= @post.id %>">
    <% if @post.liked_by?(current_user) %>
      <%= render "like", post: @post %>
    <% else %>
      <%= render "dislike", post: @post %>
    <% end %>
  </p>

  <!-- 投稿編集と削除 -->
  <% if current_user.id == @post.user_id %>
    <p class="d-flex justify-content-end">
      <%= link_to "編集", edit_post_path(@post), class:"btn btn-outline-primary option-btn" %>
      <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "削除しますか？" }, class:"btn btn-outline-danger option-btn" %>
    </p>
  <% end %>
</div>
<div class="d-flex justify-content-end">
  <p class="back-box">
    <%= link_to "投稿一覧へ", :back, type:"button", class:"page-post text-white btn btn-info" %>
  </p>
</div>

<!-- コメント一覧 -->
<% if user_signed_in? %>
  <div class="comment-create">
    <h4 class="comment-title font-weight-bolder">コメントを投稿する</h4>
    <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
  </div>
<% end %>
<hr>
<h4 class="text-comments">コメント一覧</h4>
<div class="comments-area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>


<div class="d-flex justify-content-end">
  <p class="back-box">
    <%= link_to "投稿一覧へ", :back, type:"button", class:"page-post text-white btn btn-info" %>
  </p>
</div>
